
body {
	margin: 0;
	padding: 0;
    font-family: 'Headland One', helvetica, arial, serif;
    font-size: small;
    font-weight: normal;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
    color: #FFF;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

#lang {
	z-index: 9999;
	position: fixed;
	left: 0;
	bottom: 0;
}

	#lang a {
		display: block;
		padding: 0 15px;
		height: 50px;
		line-height: 50px;
		color: #222;
		background-color: #FFF;
		font-size: 120%;
		text-transform: uppercase;
		text-decoration: none;
	}

		#lang a span {
			display: none;
		}
		#lang a:hover span {
			display: inline;
		}

#share {
	z-index: 9999;
	position: fixed;
	right: 0;
	bottom: 0;
}

	#share > ul, #share > a {
		float: left;
	}
	#share > ul {
		overflow: hidden;
		display: none;
		margin: 0;
		list-style: none;
	}
	#share > a {
		background-color: #FFF;
	}

	#share a {
		padding: 0 15px;
		height: 50px;
		line-height: 50px;
		color: #222;
		font-size: 120%;
		text-transform: uppercase;
		text-decoration: none;
	}
	#share li {
		float: left;
	}
	#share li a {
		display: block;
		width: 20px;
		background-color: #444;
		color: #FFF;
		text-align: center;
	}
	#share li a.facebook:hover {
		background-color: #3B5998;
	}
	#share li a.twitter:hover {
		background-color: #32CCFE;
	}
	#share li a.google:hover {
		background-color: #DA2713;
	}
	#share li a.linkedin:hover {
		background-color: #0073B2;
	}

body > ol {
	margin: 0;
	padding: 0;
	list-style: none;
} 

body > ol > li {
	background-color: #000;
	box-shadow: 0 20px 100px #000;
}
#slide-1 {
	background: url('../images/slide-1-1280x.jpg') top center no-repeat;
}
#slide-2 {
	background: url('../images/slide-2-1280x.jpg') top center no-repeat;
}
#slide-3 {
	background: url('../images/slide-3-1280x.jpg') center center no-repeat;
}
#slide-4 {
	background: url('../images/slide-4-1280x.jpg') center center no-repeat;
}
#slide-5 {
	background: url('../images/slide-5-1280x.jpg') center center no-repeat;
}
#slide-6 {
	background: url('../images/slide-6-1280x.jpg') center bottom no-repeat;
}

	#title {
		position: fixed;
		padding: 30px 0;
		width: 100%;
		text-align: center;
		font-size: 28px;
		background-color: rgba(0, 0, 0, 0.3);
	}

		#title a {
			color: #FFF;
			font-size: 200%;
			font-family: 'Clicker Script';
			text-decoration: none;
		}

	body > ol > li > article {
		margin: 100px auto;
		max-width: 1200px;
		text-align: center;
	}

	body > ol h1 {
	    font-size: 36px;
	    font-weight: normal;
	    text-shadow: 0 0 2px #222;
	}

		body > ol h1 em {
			font-style: normal;
			font-size: 150%;
		}
	
	body > ol .down {
		font-size: 40px;
	    font-weight: normal;
	    color: #FFF;
	    text-shadow: 0 26px 0 rgba(0, 0, 0, 0.5);
	    text-decoration: none;
	}

	.btn {
		display: inline-block;
		margin-top: 20px;
		padding: 15px 30px;
		font-size: 28px;
		color: #FFF;
		border: 3px solid #FFF;
		text-decoration: none;
	}
	.btn:hover {
		background-color: #FFF;
		color: #444;
		border-color: #FFF;
	}

	#slide-6 p {
		margin-top: 40px;
		font-size: 26px;
	}

		#slide-6 p a {
			font-size: 32px;
			font-family: 'Clicker Script';
			text-decoration: none;
			color: #FFF;
			text-shadow: 5px 5px 0 rgba(255, 255, 255, 0.05);
		}
		#slide-6 p a:hover {
			text-shadow: 5px 5px 0 rgba(255, 255, 255, 0.2);
		}

/* Big screen */
@media screen and (min-width: 1281px) {

	body > ol h1 {
	    font-size: 46px;
	}

	body > ol .down {
		font-size: 50px;
	}

	#slide-1 {
		background: url('../images/slide-1.jpg') top center no-repeat;
	}
	#slide-2 {
		background: url('../images/slide-2.jpg') top center no-repeat;
	}
	#slide-3 {
		background: url('../images/slide-3.jpg') center center no-repeat;
	}
	#slide-4 {
		background: url('../images/slide-4.jpg') center center no-repeat;
	}
	#slide-5 {
		background: url('../images/slide-5.jpg') center center no-repeat;
	}
	#slide-6 {
		background: url('../images/slide-6.jpg') center bottom no-repeat;
	}

	.btn {
		margin-top: 40px;
		font-size: 32px;
	}

	#slide-6 p {
		margin-top: 80px;
		font-size: 32px;
	}

		#slide-6 p a {
			font-size: 60px;
		}
}

/* iPhone */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

	#title {
		padding: 15px 0;
		font-size: 20px;
	}

	#share a {
		padding: 0 5px;
		height: 30px;
		line-height: 30px;
	}

	body > ol > li {
		box-shadow: none;
		min-height: 480px !important;
	}

	body > ol h1 {
	    font-size: 20px !important;
	}

	body > ol .down {
		display: none;
	}

	#slide-1 {
		background: url('../images/slide-1-x480.jpg') top center no-repeat;
	}
	#slide-2 {
		background: url('../images/slide-2-x480.jpg') top center no-repeat;
	}
	#slide-3 {
		background: url('../images/slide-3-x480.jpg') center center no-repeat;
	}
	#slide-4 {
		background: url('../images/slide-4-x480.jpg') center center no-repeat;
	}
	#slide-5 {
		background: url('../images/slide-5-x480.jpg') center center no-repeat;
	}
	#slide-6 {
		background: url('../images/slide-6-x480.jpg') center bottom no-repeat;
	}

		body > ol > li > article {
			margin: 50px auto;
			max-width: 300px;
		}

		.btn {
			display: block;
			margin-top: 15px;
			padding: 7.5px 15px;
			width: 260px;
			font-size: 14px;
		}

		#slide-6 p {
			font-size: 16px;
		}

			#slide-6 p a {
				font-size: 32px !important;
			}
}